.SearchItem {
	padding: 15px 5px;
	border: 5px solid transparent;
	overflow: hidden;

	a {
		color: black;
	}

	.src-thumbnail-container {
		display: table;
		height: 100px;

		.src-thumbnail {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		img {
			max-height: 80px;
			max-width: 80%;
		}
	}

	.header {
		.title {
			font-weight: 700;
			font-size: 14px;
		}

		padding-bottom: 20px;
	}

	.subtext {
		font-style: italic;
	}
}

.SearchItem:hover {
	border: 5px solid transparent;
	cursor: pointer;

	div {
		color: $lightBlue;
	}
}
