.SearchItem {
	padding: 15px 5px;
	overflow: hidden;

	a {
		color: black;
	}

	.src-thumbnail-container {
		display: table;
		height: 100px;

		.src-thumbnail {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		img {
			max-height: 80px;
			max-width: 80%;
		}
	}

	.subtext {
		p {
			margin: 7px 0px;
			line-height: 0px;
		}

		small {
			line-height: 1;
		}
	}
}

.SearchItem:hover {
	cursor: pointer;

	div {
		color: $lightBlue;
	}
}
