.Graph {
	& .SpinnerContainer {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
	}

	& .graphMenuContainer {
		position: absolute;
		left: 0;
		right: 0;
		width: 0;
		height: 0;
	}

	& .graphMenu {
		position: relative;
		z-index: 10;
	}

	& .graphMenuItem {
		display: inline-block;
		float: left;
		padding: 3px 20px;
		background-color: var(--lightGrey);
		cursor: pointer;
		margin-right: 1px;
	}
	& #layout {
		border: 0;
	}

	& #layout:focus {
		background-color: white;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-transition: none;
		transition: none;
	}
}
