.Paint {
}

.EnrichmentGraph {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

}
.Paint-cy {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.Paint-searchmenu {
  z-index: 1;
  position: fixed !important;
  top: 20px;
  left: 15px;
  display: 'inline-block';

}
.Paint-card {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1;
  width: 250px;
}

.Paint-pathwayname {
  padding-top: 0 !important;
}

.Paint-pathwayname > div {
  padding-left: 18px;
}
.Paint-sidenav {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1;
  width: 600px;
  border: 1px solid;
  opacity: 0.6;
}

.Paint-title {
  display: inline;
}
.Paint-logo {
  padding: 16px;
  height: 80px;
  width: 80px;
}
