body {
	overflow-x: hidden;
	min-width: var(--screen-min-width);
}

.visibilityHidden {
	visibility: hidden !important;
	position: absolute !important;
	margin-top: -99999999px !important;
}

.Index {
	min-height: 100vh;
	position: relative;
}

.alert {
	margin: 0;
	border-radius: 0;
}

.Index.iframe {
	min-height: inherit;
}

a.clickable:hover {
	cursor: pointer;
}

.header-title {
	color: var(	--midnightBlue);
	margin: 0.5em auto;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.navbar {
	padding-top: 1em;
	padding-bottom: 0.5em;

	& .brand {
		font-size: 2.2em;
		color: var(--midnightBlue);
		font-weight: 700;
	}
}
