body {
	overflow-x: hidden;
	min-width: var(--screen-min-width);
}

.visibilityHidden {
	visibility: hidden !important;
	position: absolute !important;
	margin-top: -99999999px !important;
}

.Index {
	min-height: 100vh;
	position: relative;
}

.alert {
	margin: 0;
	border-radius: 0;
}

.Index.iframe {
	min-height: inherit;
}
