:root {
	/* Declare Colours */
	--blueGray: #485667;
	--darkerBlue: #001E42;
	--darkBlue: #002A5C;
	--lightBlue: #337AB7;
	--white: #FFFFFF;
	--black: #000000;
	--lightGrey: #EEE;
	--darkGrey: #999;
	--darkGreen: #2F4154;
	--turquoise: #1ABC9C;

	/* Bootstrap breakpoints */
	--screen-xs-min: 480px;
	--screen-sm-min: 768px;
	--screen-md-min: 992px;
	--screen-lg-min: 1200px;

	/* So media queries don't overlap when required, provide a maximum */
	--screen-xs-max: calc(var(--screen-sm-min) - 1);
	--screen-sm-max: calc(var(--screen-md-min) - 1);
	--screen-md-max: calc(var(--screen-lg-min) - 1);

	/* Declare custom-media for postCSS media queries using hardcoded values as variables are unsupported (Src: https://github.com/MoOx/postcss-cssnext/issues/253) */
	@custom-media --screen-xs (max-width: 767px);
	@custom-media --screen-sm (max-width: 991px);
	@custom-media --screen-md (max-width: 1199px);

	/* Declare variables used in Pathway.css */
	--nameHeaderHeight: 50px;
}
