.Header {
	margin-bottom: 1px;

	& .navbar-brand, & a {
		color: var(--white);

		& :hover {
			color: var(--turquoise);
		}
	}

	& li * {
		vertical-align: middle;
		cursor: pointer;
	}

	& .react-toggle {
		margin-left: 15px;
	}
}
