.Header {
	margin-bottom: 1px;
	border-radius: 0;

	& .navbar-brand, & a {
		color: var(--white);

		& :hover {
			color: var(--turquoise);
		}
	}

	& .headerIcon {
		height: 100%;
		width: auto;
		vertical-align: text-top;
		margin-right: 20px;
	}

	& li * {
		vertical-align: middle;
		cursor: pointer;
	}

	& .helpButton {
		color: var(--yellow) !important;
	}

	& .react-toggle {
		margin-left: 15px;
	}
}
