.Splash {

	& .modal-dialog {
		& .modal-content{
			& .modal-body{
				padding: 4em;
			}
		}
	}


	& .splashModal {
		position: relative;

		& .splashText {
			text-align: center;
			color: var(--midnightBlue);
			font-size: 1.2em;
		}
	}

	& .splashImage {
		margin: 1.2em auto;
	}

	& a {
		cursor: pointer;
	}
}

@media (--screen-xxs) {
	.Splash {
		& .modal-dialog {
			& .modal-content{
				& .modal-body{
					padding: 1em;
				}
			}
		}

		& .splashImage {
			margin: 20px auto;
		}

		& .splashModal {
			& .splashText {
				font-size: 1em;
			}
		}
	}
}
