.Splash {

	& .modal-dialog {
		& .modal-content{
			& .modal-body{
				padding: 4em;
			}
		}
	}


	& .splashModal {
		position: relative;

		& .splashText {
			text-align: center;
			color: var(--midnightBlue);
			font-size: 1.4em;
		}
	}

	& .splashImage {
		margin: 1.2em auto;
	}

	& a {
		cursor: pointer;
	}
	
	& #pub-link {
		font-size: 1.1em;
	}
}

@media (--screen-xxs) {
	.Splash {
		& .modal-dialog {
			& .modal-content{
				& .modal-body{
					padding: 1em;
				}
			}
		}
	}
}
