.SearchList {
	& .paginationContainer {
		overflow-x: hidden;
		width: 100%;
	}

	& .modal-dialog {
		& .modal-content{
			& .modal-body{
				padding: 4em;
			}
		}
	}

	& a {
		cursor: pointer;
	}


	& .moreResults {
		& .btn {
			margin: 1em auto;
			background-color: var(--clouds);
			width: 12em;
			opacity: 0.9;
			color: var(--midnightBlue);
			font-size: 1.2em;
		}
	}

	/* Flat-UI mobile view css fix */
	& .pagination {
		padding: 0;
	}
}

@media (--screen-xxs) {
	.SearchList {
		& .modal-dialog {
			& .modal-content{
				& .modal-body{
					padding: 1em;
				}
			}
		}
	}

}
