.Graph {
	&.no-data {
		margin: 25vh auto;
		text-align: center;
		font-size: 20px;
	}

	.SpinnerContainer {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
	}

	.GraphMenu {
	}

	.GraphMenuItem {
		display: inline-block;
		padding: 3px 20px;
		background-color: $lightGrey;
		cursor: pointer;
	}
}
