.Header {
	$headerHeight: 80px;
	height: $headerHeight;

	.title {
		height: $headerHeight;
		padding: 10px 20px;
		font-size: 40px;
		font-weight: 100;
		color: $darkBlue;
	}

	.subtitle {
		height: $headerHeight;
		line-height: $headerHeight / 2;
		text-align: center;
	}
}
