.View {

	& #metadata {
		font-size: 1.2em;
		color: var(--belizeHole);
		text-decoration: underline;
		font-weight: bold;
		max-width: 40em;
	}

	& .name {
		margin-left: 10px;
		margin-right: 20px;
		font-size: 20px;
	}

	& .datasource {
		color: var(--darkGrey);
		text-transform: uppercase;
		font-size: 15px;
		margin-right: 20px;
	}

	& .info-button {
		color: var(--darkGrey);
		font-size: 15px;
		cursor: pointer;
	}

	& .tab-button {
		font-size: 16px;
		padding-right: 20px;
		cursor: pointer;
		text-align: center;
		color: var(--darkGrey);
	}

	& .nav-tabs {
		margin-bottom: 1px;
	}
}

@media (--screen-md){
	.View {

		& #metadata {
			max-width: 32em;
		}
	}
}

@media (--screen-sm){
	.View {

		& #metadata {
			max-width: 18em;
		}
	}
}

@media (--screen-xs) {
	.View {

		& .brand {
			font-size: 2em;
		}

		& #metadata {
			font-size: 1em;
			max-width: 100%;
		}
	}
}
