.Pathway {
	& .nameHeader {
		line-height: 50px;
		padding: 0px;
		margin-bottom: 2px;
		text-transform: capitalize;
	}

	& .name {
		margin-left: 10px;
		margin-right: 20px;
		font-size: 20px;
	}

	& .datasource {
		color: var(--darkGrey);
		text-transform: uppercase;
		font-size: 15px;
		margin-right: 20px;
	}

	& .info-button {
		color: var(--darkGrey);
		font-size: 15px;
		cursor: pointer;
	}

	& .tab-button {
		font-size: 16px;
		padding-right: 20px;
		cursor: pointer;
		text-align: center;
		color: var(--darkGrey);
	}

	& .nav-tabs {
		margin-bottom: 1px;
	}
}
