.Pathway {
	& .nameHeader {
		line-height: 50px;
		padding: 0px;
		margin-bottom: 2px;
		text-transform: capitalize;
	}

	& .name {
		padding: 0px;
		padding-left: 30px;
	}

	& .tab-button {
		font-size: 16px;
		padding-right: 20px;
		cursor: pointer;
		text-align: center;
		color: var(--darkGrey);
	}

	& .nav-tabs {
		margin-bottom: 1px;
	}
}
