.Pathway {
	& .nameHeader {
		padding: 0px;
		margin-bottom: 2px;
		text-transform: capitalize;
	}

	& .name {
		line-height: var(--nameHeaderHeight);
		padding: 0px;
		padding-left: 30px;
	}

	& .nav-tabs {
		margin-bottom: 1px;
	}

	& .glyphicon {
		line-height: var(--nameHeaderHeight);
		font-size: 26px;
		cursor: pointer;
	}
}
