.SearchBar {
	padding: calc(60px / 4) 10%;
	border-radius: 6px;
	margin: 0px;

	& .form-group {
		margin: 0px;
	}

	& .barItem {
		line-height: 42px;
		font-size: 16px;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		color: var(--darkGrey);
	}
}
