.SearchHeader {
	background-color: var(--clouds);
	padding-top: 1em;

	& .brand {
		font-size: 2.2em;
		color: var(--midnightBlue);
	}

	& .control-label {
		padding-top: 0;
		text-align: center;
	}

	& #link-faq {
		margin-top: 4px;
		color: var(--midnightBlue);
	}

	& .glyph-tip {
		font-size: 2.5em;
	}

	& .form-horizontal {
		& .form-group {
			& .input-group {
				& .input-group-addon {
					cursor: pointer;					
				}
			}
		}
	}

}

@media (--screen-xs) {
	.SearchHeader {

		& .brand {
			font-size: 2em;
		}

		& .glyph-tip {
			font-size: 2.4em;
		}

		& .form-horizontal {
			& .form-group {
				margin-left: 1px;
				margin-right: 1px;
			}
		}
	}
}
