.SearchList {
	& .paginationContainer {
		overflow-x: hidden;
		width: 100%;
	}

	& .splashModal {
		position: relative;
		z-index: 1000;
	}

	& .splashImage {
		margin: 20px auto;
	}

	& a {
		cursor: pointer;
	}

	& .text {
		line-height: 20px;
		color: var(--darkGrey);
	}

	& .subtext {
		font-size: 0.9em;
		font-style: italic;
		color: var(--darkGrey);
	}

	& .moreResults {
		cursor: pointer;
		text-align: center;
		padding: 30px 0px;
		color: var(--lightBlue);
	}

	/* Flat-UI mobile view css fix */
	& .pagination {
		padding: 0;
	}
}
