.SearchHeader {
	background-color: var(--clouds);
	padding-top: 1em;

	& .brand {
		font-size: 1.6em;
		color: var(--midnightBlue);
	}

	& .control-label {
		padding-top: 0;
		text-align: center;
	}

	& #link-faq {
		margin-top: 4px;
		font-size: 2em;
	}

	& .glyphicon {
		font-size: 1.3em;
		cursor: pointer;
	}

}

@media (--screen-xxs) {
	.SearchHeader {
		& .brand {
			font-size: 1.4em;
		}
	}
}
