/* Load spinner styles */
@import 'spinkit/css/spinners/9-cube-grid.css';

/* Load theme css files and theme dependencies */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Load react-bootstrap-typeahead css files */
@import 'react-bootstrap-typeahead/css/Typeahead.css';
@import 'react-bootstrap-typeahead/css/ClearButton.css';
@import 'react-bootstrap-typeahead/css/Token.css';
@import 'react-bootstrap-typeahead/css/Loader.css';

/* Load react component css files */
@import 'react-toggle/style.css';

/* Load variables */
@import './css/variables.css';
@import './css/general.css';

/* Load all custom scss files */
@import './css/components/Splash.css';
@import './css/components/Spinner.css';
@import './css/components/ErrorMessage.css';
@import './css/components/HelpTooltip.css';

@import './css/faq/Faq.css';

@import './css/search/SearchHeader.css';
@import './css/search/SearchList.css';
@import './css/search/SearchItem.css';

@import './css/view/View.css';
@import './css/view/components/Graph.css';
@import './css/view/components/Interactions.css';
@import './css/view/components/Downloads.css';
@import './css/view/components/DownloadCard.css';
