.Graph {
	& .SpinnerContainer {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
	}

	& .graphMenuContainer {
		position: absolute;
		left: 0;
		right: 0;
	}

	& .graphMenu {
		position: relative;
		z-index: 10;

		@media (--screen-sm) {
			display: none;
		}
	}

	& .graphMenuItem {
		display: inline-block;
		float: right;
		padding: 3px 20px;
		background-color: var(--lightGrey);
		cursor: pointer;
		margin-right: 1px;
	}
}
